.imagens {
    display: flex;  /* Usando flexbox para organizar os itens */
    gap: 10px;      /* Espaçamento entre as imagens */
    justify-content: center;    /* Centraliza horizontalmente */
    align-items: center;
}

.imagem {
    width: 500px; /* Ajuste do tamanho das imagens */
    height:500px; /* Mantém a proporção da imagem */
    cursor: pointer;
}
